<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>All Quotes In Database</title>
    </head>
    <body>
    <ul>
    {{ range . }}
    <li><p>{{ .Quote }}</p><p>{{ .Author }}</p></li>
    {{ end }}
    </ul>
    </body>
</html>